html {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size:17px;
}

a:link {
  color:#EF7C00;
  background-color:transparent;
  text-decoration:none;
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

a:visited {
  color:#003D7C;
  background-color:transparent;
  text-decoration:none;
}

a:hover {
  color:#EF4A38;
  background-color:transparent;
  text-decoration:underline;
}

a:active {
  color:#EF7C00;
  background-color:transparent;
}

.row-flex {
  display:flex;
  flex-wrap:wrap;
}

.row-flex:before, .row-flex:after {
  width:0;
}

.navdigital {
  background-color:rgba(0, 0, 0, 0.5);
}

.godigital {
  color:#fff;
  padding:50px 0;
}

.godigital .buttons {
  text-align:center;
}

.godigital .buttons .btn {
  padding:16px 32px;
  margin:6px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  opacity:0.9;
  text-transform:uppercase;
  font-weight:bold;
  font-size:13px;
  letter-spacing:0.4px;
  line-height:1;
  box-sizing:border-box;
  white-space:normal;
}

.godigital .buttons .btn:hover {
  opacity:1;
}

.godigital .buttons .btn:active {
  transform:translateY(1px);
}

.godigital .buttons .btn-primary, .godigital .buttons .btn-primary:active {
  border:2px solid rgba(255,255,255,0.7);
  border-radius:6px;
  color:#ebeff1;
  box-shadow:none;
  text-shadow:none;
  padding:14px 24px;
  background:transparent;
  transition:background-color 0.25s;
}

.btnblock {
  display:block;
  width:100%;
}

.read-more {
  position:relative;
  color:#34495e;
  text-decoration:none;
  cursor:text;
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.read-more .trigger {
  display:block;
  position:absolute;
  bottom:0;
  cursor:pointer;
  color:#EF7C00;
  font-weight:400;
}

.read-more .content {
  position:relative;
  overflow:hidden;
  max-height:200px;
  transition:max-height 500ms ease;
}

.read-more .content::before {
  content:'';
  background:linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
  position:absolute;
  bottom:0;
  width:100%;
  height:44.8px;
  transition:opactiy 500ms ease, visibility 500ms ease;
}

.read-more.expanded .content {
  max-height:800px;
}

.read-more.expanded .content::before, .read-more.expanded .trigger {
  opacity:0;
  visibility:hidden;
}

.tooltiptext {
  border-bottom:1px dotted black;
}

.header-blue {
  background:linear-gradient(135deg, #172a74, #21a9af);
  background-color:#184e8e;
  padding-bottom:30px;
  font-family:'Source Sans Pro', sans-serif;
}

#my-breadcrumbs ul li {
  list-style:none;
}

#my-breadcrumbs {
  margin-top:100px;
  margin-left:100px;
}

#my-breadcrumbs ul li a {
  display:block;
  float:left;
  height:20px;
  background:#4060A5;
  text-align:center;
  padding:10px 20px 0 20px;
  position:relative;
  margin:0 45px 0 0;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-size:20px;
  text-decoration:none;
  color:#fff;
}

#my-breadcrumbs ul li a:after {
  content:"";
  border-top:40px solid transparent;
  border-bottom:40px solid transparent;
  border-left:40px solid #4060A5;
  position:absolute;
  right:-40px;
  top:0;
}

#my-breadcrumbs ul li a:before {
  content:"";
  position:absolute;
  margin-top:-30px;
  border-width:20px 0 20px 20px;
  border-style:solid;
  border-color:#4060A5 #4060A5 #4060A5 transparent;
  left:-40px;
}

.boxgrey {
  text-align:center;
  padding:30px;
  background-color:#eef4f7;
  margin-bottom:30px;
}

.imagebox {
  background:black;
  padding:0px;
  position:relative;
  text-align:center;
  width:100%;
}

.imagebox img {
  opacity:1;
  transition:0.5s opacity;
}

.imagebox .imagebox-desc {
  background-color:rgba(0, 0, 0, 0.6);
  bottom:0px;
  color:white;
  font-size:1.2em;
  left:0px;
  padding:10px 15px;
  position:absolute;
  transition:0.5s padding;
  text-align:center;
  width:100%;
}

.imagebox:hover img {
  opacity:0.7;
}

.imagebox:hover .imagebox-desc {
  padding-bottom:10%;
}

.boxgrey2 {
  padding:10px;
  background-color:#eef4f7;
}

.maintitlenumber {
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.maintitletext {
  height:50px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.vertical-align {
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:row;
}

.product {
  padding:40px 0px;
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

.product h1 {
  font-size:40px;
  font-weight:200;
  line-height:1.1;
}

.aceit {
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}

.aceit:hover {
  box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.photo-gallery {
  color:#313437;
  background-color:#fff;
}

.photo-gallery p {
  color:#7d8285;
}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

.productfeature {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  padding:30px;
  margin-bottom:30px;
}

.productfeature h1 {
  font-weight:300;
  font-size:3em;
  color:black;
}

.productfeature p {
  font-size:1.3em;
  color:#46484d;
}

.card {
  background:#fff;
  border-radius:5px;
  display:inline-block;
  position:relative;
  margin-bottom:10px;
}

.card-1 {
  box-shadow:0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-2 {
  box-shadow:5px 7px 35px -6px rgba(0,0,0,0.19);
  transition:all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2:hover {
  box-shadow:5px 7px 35px -6px rgba(0,0,0,0.55);
}

.productoverview {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  padding:20px;
  margin-bottom:70px;
}

.overviewbox {
  padding:30px;
  height:100%;
  width:100%;
}

.overviewbox h1 {
  color:#FEB721;
  font-weight:400;
  line-height:0.7;
  font-size:5em;
}

.overviewbox h2 {
  color:#FEB721;
  font-weight:400;
  font-size:2em;
}

.overviewbox p {
  font-weight:200;
  font-size:1.2em;
}

.productcontent {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  padding:30px;
  margin:20px 0px 20px 0px;
}

.productcontent h2 {
  font-weight:400;
  font-size:2.6em;
  color:black;
}

.productcontent p {
  font-size:1.3em;
  color:#46484d;
}

.royalbg {
  background:#141E30;
  background:linear-gradient(to right, #243B55, #141E30);
}

.textorangered {
  background:linear-gradient(301deg, #EF7C00 0%, #EF4A38 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.textpurplepink {
  background:linear-gradient(301deg, #EC0C8C 0%, #623895 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.textbluetur {
  background:linear-gradient(301deg, #5abe87 0%, #003D7C 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.textpinktur {
  background:linear-gradient(301deg, #2ccca7 0%, #ec0c8c 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.textclearsky {
  background:#005c97;
  background:-webkit-linear-gradient(to left, #005c97, #363795);
  background:linear-gradient(to left, #005c97, #363795);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.clearsky {
  background:linear-gradient(to left, #005c97, #363795);
}

.contentcardbox {
  padding:20px;
  height:100%;
}

.productcontent h3 {
  font-weight:400;
  font-size:1.6em;
  color:black;
}

.minitext {
  font-size:1.0em;
  font-weight:300;
  color:#46484d;
}

.link-1 {
  color:#EC0C8C;
  background-color:#fdddef;
}

.link-1:hover {
  border-bottom:2px solid #EC0C8C;
  background-color:#fff;
}

.link-2 {
  color:#378b5d;
  background-color:#b6e2ca;
}

.link-2:hover {
  border-bottom:2px solid #378b5d;
  background-color:#fff;
}

.link-3 {
  color:#003D7C;
  background-color:#d1e8ff;
}

.link-3:hover {
  border-bottom:2px solid #003D7C;
  background-color:#fff;
}

.edu-table {
  display:flex;
  flex-direction:column;
}

@media (min-width: 900px) {
  .edu-table {
    flex-direction:row;
  }
}

.edu-plan {
  border-bottom:1px solid #e1f1ff;
  margin:25px;
}

.edu-plan:last-child {
  border-bottom:none;
}

@media (min-width: 900px) {
  .edu-plan {
    border-bottom:none;
    border-right:1px solid #e1f1ff;
    flex-basis:100%;
    padding:25px 50px;
    text-align:center;
  }
}

@media (max-width: 820px) {
  .edu-plan {
    border-bottom:none;
    flex-basis:100%;
    padding:25px 50px;
    text-align:center;
  }
}

@media (min-width: 900px) {
  .edu-plan:last-child {
    border-right:none;
  }
}

.edu-features {
  letter-spacing:1px;
  margin:50px 0 25px;
  list-style:none;
}

.edu-features-item {
  border-top:1px solid #e1f1ff;
  line-height:1.5;
  padding:15px 0;
  min-height:140px;
  vertical-align:middle;
}

.edu-features-item:last-child {
  border-bottom:1px solid #e1f1ff;
}

@media (max-width: 600px) {
  .edu-features-item {
    min-height:80px;
  }
}

#accordion {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
}

#accordion .panel {
  border:none;
  box-shadow:none;
  border-radius:0;
  margin-bottom:15px;
}

#accordion .panel-heading {
  padding:0;
}

#accordion .panel-title a {
  display:block;
  color:#000;
  background:#fff;
  border:none;
  border-bottom:2px solid #06cde7;
  padding:15px 20px 15px 47px;
  position:relative;
  transition:all 0.5s ease 0s;
  font-weight:400;
  font-size:1.3em;
}

#accordion .panel-title a.collapsed {
  border-bottom-color:#ddd;
  color:#888;
}

#accordion .panel-title a:before {
  content:"\f106";
  font-family:"Font Awesome 5 Free";
  font-weight:900;
  font-size:18px;
  position:absolute;
  top:30%;
  left:20px;
  transition:all 0.3s ease 0s;
}

#accordion .panel-title a.collapsed:before {
  content:"\f107";
}

#accordion .panel-body {
  color:#8c8c8c;
  background:#f6f6f6;
  border:none;
  padding:14px 20px;
}

#accordion p {
  font-size:1.3em;
  color:#46484d;
}

#accordion ol, ul {
  color:#46484d;
}

.stackimage {
  flex:50%;
  padding:5px;
}

@media screen and (max-width: 500px) {
  .stackimage {
    width:100%;
  }
}

.columnd {
  float:left;
  padding:10px;
}

.leftd {
  width:15%;
}

.rightd {
  width:85%;
}

@media screen and (max-width: 500px) {
  .leftd {
    width:100%;
  }
}

@media screen and (max-width: 500px) {
  .rightd {
    width:100%;
  }
}

.rowd:after {
  content:"";
  display:table;
  clear:both;
}

.apa p {
  text-indent:-1.5em;
  padding-left:1.5em;
}

