.jd-thumbnail {
  width:50px;
  height:50px;
  border-radius:4px;
  display:flex;
}

#jd-container {
  display:flex;
  flex-direction:row;
}

.jd-name {
  display:flex;
  align-items:center;
  margin-left:10px;
}

#tooltip {
  text-align:center;
  color:#fff;
  background:#111;
  position:absolute;
  z-index:100;
  padding:15px;
}

#tooltip:after {
  width:0;
  height:0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-top:10px solid #111;
  content:'';
  position:absolute;
  left:50%;
  bottom:-10px;
  margin-left:-10px;
}

#tooltip.top:after {
  border-top-color:transparent;
  border-bottom:10px solid #111;
  top:-20px;
  bottom:auto;
}

#tooltip.left:after {
  left:10px;
  margin:0;
}

#tooltip.right:after {
  right:10px;
  left:auto;
  margin:0;
}

.jd-profile {
  min-width:50px;
  height:50px;
  color:#919191;
  background-color:#ededed;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:2em;
  font-weight:400;
  font-size:2.6em;
}

.jdp {
  font-size:1.0em;
  color:#46484d;
}

.jd {
  font-family:"Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size:17px;
}

